# ABACUS STRU template for DFT labeling
# Teaching scaffold only. Replace every TODO_USER_APPROVAL before running.

ATOMIC_SPECIES
# element  mass  pseudopotential_file
H   TODO_USER_APPROVAL   TODO_USER_APPROVAL
C   TODO_USER_APPROVAL   TODO_USER_APPROVAL

NUMERICAL_ORBITAL
TODO_USER_APPROVAL
TODO_USER_APPROVAL

LATTICE_CONSTANT
TODO_USER_APPROVAL

LATTICE_VECTORS
TODO_USER_APPROVAL   TODO_USER_APPROVAL   TODO_USER_APPROVAL
TODO_USER_APPROVAL   TODO_USER_APPROVAL   TODO_USER_APPROVAL
TODO_USER_APPROVAL   TODO_USER_APPROVAL   TODO_USER_APPROVAL

ATOMIC_POSITIONS
Direct

H
0.0
# number_of_H_atoms
TODO_USER_APPROVAL
# x y z movable_x movable_y movable_z
TODO_USER_APPROVAL   TODO_USER_APPROVAL   TODO_USER_APPROVAL   1 1 1

C
0.0
# number_of_C_atoms
TODO_USER_APPROVAL
# x y z movable_x movable_y movable_z
TODO_USER_APPROVAL   TODO_USER_APPROVAL   TODO_USER_APPROVAL   TODO_USER_APPROVAL TODO_USER_APPROVAL TODO_USER_APPROVAL
